---
const {index, question, answer} = Astro.props;
---

<li class="grid grid-cols-[auto_1fr] gap-10 pb-16 px-5 border-b border-lineGray">
    <span class="text-[2rem] text-key font-urbanist leading-[185%]">
        Q{index + 1}.
    </span>
    <div class="">
        <h3 class="mb-3 text-[1.8rem] font-normal leading-loose">
            {question}
        </h3>
        <p class="text-defaultText">
            {answer}
        </p>
    </div>
</li>