---
const {index, question, answer} = Astro.props;
---

<li class="
    grid grid-cols-[auto_1fr] gap-6 pb-12 px-4 border-b border-lineGray
    md:gap-6 md:px-0 md:pb-10
">
    <span class="
        text-xl text-key font-urbanist leading-loose
        md:text-[1.8rem] md:leading-[180%]
    ">
        Q{index + 1}.
    </span>
    <div class="">
        <h3 class="
            mb-3 text-xl font-normal leading-loose
            md:text-[1.5rem]
        ">
            {question}
        </h3>
        <p class="
            text-defaultText
            md:text-spDefaultText
        ">
            {answer}
        </p>
    </div>
</li>