@import "@fontsource/noto-sans-jp/300.css";
@import "@fontsource/noto-sans-jp/500.css";
@import "@fontsource/biz-udpmincho";
@import "@fontsource/urbanist/300.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(10 / 1440 * 100vw);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #242424;
}

@media screen and (max-width: 768px) {
  html {
    font-size: calc(10 / 390 * 100vw);
  }
}
