---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex items-center w-screen h-screen py-[10vw]">
			<h1 class="ml-32 text-[12.5vw] font-mincho leading-[125%] tracking-[1.8%]">
				デジタル時代の<br/>
				門出を、<br/>
				私たちと一緒に。
			</h1>
		</div>
	</main>
</Layout>

