---
const {lists} = Astro.props;
interface ListItem {
  path: string;
  name: string;
}
---

<nav class="md:px-2 md:overflow-y-scroll">
    <ol class="flex">
        {
            lists.map((list: ListItem, index: number) => (
                <li class="
                    text-xs whitespace-nowrap
                    md:text-[1.1rem] 
                ">
                    {lists.length - 1 !==index ? (
                        <a href={`/${list.path}`} class="whitespace-nowrap">{list.name}</a>
                        <span class="mx-4 text-gray">・</span>
                    ) : (
                        <span class="text-gray whitespace-nowrap">{list.name}</span>
                    )}
                </li>
            ))
        }
    </ol>
</nav>