---
---

<section class="flex justify-center items-center w-defaultLayout m-auto p-24 bg-gray rounded-3xl text-white">
    <div class="flex flex-col items-center w-fit">
        <h2 class="mb-14 text-[3.6rem] text-center font-mincho">
            お問い合わせ・ご相談
        </h2>
        <p class="mb-20 text-defaultText text-center">
            デジタル課題に関することならなんでもお気軽にご相談ください。<br>
            サブスク以外にもニーズに合わせたお見積もり依頼も可能です。<br>
            お問い合わせの際のよくある質問もご用意しています。
        </p>
        <a href="" class="block w-full p-6 bg-white text-[1.5rem] text-center text-key font-medium rounded-lg">
            お問い合わせする
        </a>
    </div>
    <!-- TODO: 資料請求 -->
</section>