---
import { Image } from 'astro:assets';

const menu = [
    {
        name: 'ホーム',
        url: '/'
    },
    {
        name: '特長',
        url: '/feature'
    },
    {
        name: 'サービス',
        url: '/service'
    },
    {
        name: "実績",
        url: '/works'
    },
    {
        name: 'よくある質問',
        url: '/faq'
    }

]
---

<header class="grid grid-cols-[auto_1fr_auto] items-center px-32 py-10">
    <a href="" class="">
        <Image 
            src="/logo.svg"
            alt="Logo"
            width="112"
            height="66"
            class="w-[11.2rem] h-[6.6rem]"
        />
    </a>
    <nav class="h-full">
        <ul class="flex justify-center h-full">
            {menu.map((item) => (
                <li class="">
                    <a href={item.url} class="flex justify-center items-center h-full px-12 py-2 text-2xl">{item.name}</a>
                </li>
            ))}
        </ul>
    </nav>
    <a href="" class="px-8 py-4 text-2xl text-key border border-key rounded-full">お問い合わせ</a>
</header>