---
const {titleEn, titleJa, description} = Astro.props
---

<section class="
    pb-16 px-20 border-b border-lineGray
    md:px-[1.6rem] md:pb-16
">
    <h1 class="
        mb-6 text-sectionEnTitle text-key font-urbanist tracking-wider
        md:mb-6 md:text-spSectionEnTitle
    ">
        {titleEn}
    </h1>
    <div class="
        grid grid-cols-[1fr_36rem] gap-20
        md:grid-cols-1 md:gap-6
    ">
        <h2 class="
            text-5xl font-mincho whitespace-break-spaces leading-relaxed
            md:text-[2.8rem]
        ">{titleJa}</h2>
        <p class="
            py-3 text-defaultText
            md:text-spDefaultText
        ">
            {description}
        </p>
    </div>
</section>