---
---

<a href="/news" class="grid grid-cols-[auto_auto_1fr] items-center py-12 border-b border-lineGray">
    <time 
        datetime="2024-04-04" 
        class="mr-8 text-[1.4rem] text-gray font-urbanist font-light">
        2024.04.04
    </time>
    <span class="
        inline-flex justify-center w-32 mr-12 px-4 py-2 text-[1.2rem] leading-tight text-key border border-key rounded-md bg-key bg-opacity-10
    ">
        ニュース
    </span>
    <p class="text-[1.4rem]">
        ここにお知らせが入ってきますから気をつけてくださいよ本当に
    </p>
</a>