---
const {id, title, label} = Astro.props
---

<a 
    href={`/news/${id}`} 
    class="
        grid grid-cols-[auto_1fr] items-center py-7 border-b border-lineGray
        md:grid-cols-1 md:py-6 md:px-[.8rem]
    "
>
    <div class="
        flex items-center gap-5 mr-8
        md:gap-6 md:mr-0 md:mb-4
    ">
        <time 
            datetime="2024-04-04" 
            class="
                text-sm text-gray font-urbanist font-light
                md:text-[1.3rem]
            ">
            2024.04.04
        </time>
        <span class="
            inline-flex justify-center w-20 px-2 py-1 text-xs text-key leading-normal border border-key rounded-md bg-key bg-opacity-10
            md:w-fit md:px-3 md:py-2 md:text-[1rem]
        ">
            { label }
        </span>
    </div>
    <p class="text-sm leading-relaxed">
        {title}
    </p>
</a>