---
import "../styles/global.css";
import "@fontsource/noto-sans-jp";
import Header from "../components/Header.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import SpMenu from "../components/SpMenu.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white">
		<Header />
		<slot />
		<div class="
			flex flex-col gap-32
			md:gap-0
		">
			<Contact />
			<Footer />
		</div>
		 <SpMenu />
		</body>
</html>
