---
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/Breadcrumb.astro';
import Fv from '../../components/section/Fv.astro';
import FaqItem from '../../components/faq/FaqItem.astro';
import { newtClient } from '../../lib/newt';
import type { FaqItemType } from '../../types';

const {items: worksItems} = await newtClient.getContents<FaqItemType>({
    appUid: 'sps',
    modelUid: 'faq',
    query: {
        order: ['_sys.createdAt']
    },  
});
---


<Layout title="faq">
    <main class="mb-40">
        <!-- FV -->
        <div class="
            flex flex-col gap-16 mt-40 px-20
            md:w-full md:gap-16 md:mt-40
        ">
            <Breadcrumb
                lists={[
                    { name: "ホーム", path: "/" },
                    { name: "よくある質問"}
                ]}
            />
            <Fv
                titleEn="Faq"
                titleJa="よくいただくご質問"
                description="もしあればここにそれを説明するテキストが入ってきますからね。入れるようにしておきましょうね。まあ何が入ってくるのかは全然わからないのですけれども、あればいいですね。"
            />
        </div>
        <!-- MAIN -->
        <div class="
            flex flex-col gap-32 mt-40 mx-20 px-20 
            md:w-full md:gap-24 md:mt-16 md:mb-40 md:px-[1.6rem]
        ">
            {worksItems.map((item, index) =>
                <section class="">
                    <h2 class="
                        mb-16 text-3xl font-mincho
                        md:mb-8 md:text-[2rem]
                    ">
                        {item.title}
                    </h2>
                    <ul class="
                        flex flex-col gap-12
                        md:gap-8
                    ">
                        {item.item.map((faq, index) => 
                            <FaqItem
                                index={index}
                                question={faq.title}
                                answer={faq.content}
                            />
                        )}
                    </ul>
                </section>
            )}
        </div>
    </main>
</Layout>